
//----------------------------------------------
// Fluid body sizing
//----------------------------------------------
body {
  font-size: 100%;

  @media (min-width: $mq-sm) {
    font-size: 101%;
  }
  @media (min-width: $mq-md) {
    font-size: 102%;
  }
  @media (min-width: $mq-lg) {
    font-size: 103%;
  }
  @media (min-width: 75em) {
    font-size: 120%;
  }
  @media (min-width: $mq-xl) {
    font-size: 125%;
  }
  @media (min-width: $mq-xl2) {
    font-size: 130%;
  }
  @media (min-width: $mq-xl3) {
    font-size: 140%;
  }
}
