
// html {
//   @supports (-ms-ime-align:auto)  {
//     scrollbar-track-color:  rgba(0,0,0,0.1);
//     scrollbar-3dlight-color:  rgba(0,0,0,0.1);
//     scrollbar-darkshadow-color:  rgba(0,0,0,0.1);
//     scrollbar-arrow-color:  $color-alpha;
//   }
// }
// body::-webkit-scrollbar-track  {
//   background-color: rgba(0,0,0,0.1);
// }
//
// body::-webkit-scrollbar-track-piece:hover {
//   background-color: rgba(0,0,0,0.9);
// }
//
// body::-webkit-scrollbar  {
//   width: 5px;
//   background-color: rgba(0,0,0,0.1);
// }

::-webkit-scrollbar-thumb{
  background-color: $color-alpha;
  border: 6px solid $color-alpha;
  border-radius: 1em;
}
