h1,h2,h3,h4,h5{
  font-family: $font-header;
  font-weight: 700;
  color: $color-grey-dark;
}

//----------------------------------------------
//  Headings
//----------------------------------------------
%font-xl2, h1 {
  margin-bottom: $pad-xs2;
  line-height: 1.35;
  @include font-rwd($font-size-xl2, $font-size-xl3)
}

%font-xl, h2 {
  margin-bottom: $pad-xs2;
  line-height: 1.35;
  @include font-rwd($font-size-xl, $font-size-xl2)
}

%font-lg, h3 {
  margin-bottom: $pad-xs2;
  line-height: 1.4;
  @include font-rwd($font-size-lg, $font-size-xl)
}

%font-md, h4 {
  margin-bottom: $pad-xs2;
  line-height: 1.45;
  @include font-rwd($font-size-md)
}

%font-base, h5 {
  margin-bottom: $pad-xs2;
  line-height: 1.35;
  @include font-rwd($font-size-base)
}


//----------------------------------------------
//  paragraphs
//----------------------------------------------
p {
  margin-top: 0;
  margin-bottom: $pad-xs;
}

small {
  display: block;
  margin-bottom: 1em;
  font-size: $font-size-xs;
}

b, strong{
  font-weight: 700;
}

//----------------------------------------------
//  Selection
//----------------------------------------------
::selection {
  color: white;
  background: $color-alpha;
}

%type-single-line {
  word-spacing: 9999px;
  display: block;
}
