//----------------------------------------------
//  Grid / Containers
//  Our global grid container, to be applies as a
//  helper class, or placeholder extend.
//----------------------------------------------
%grid, .grid {
  position: relative;
  width: $grid-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  