//----------------------------------------------
//  Config
//
//  01: Font variables
//  02: Media Queries
//  03: Grid and Padding
//  04: Colors
//  06: Misc
//----------------------------------------------

//----------------------------------------------
// Fonts
//----------------------------------------------
$font-header: "maax", Helvetica, sans-serif;
$font-paragraph: "maax", Helvetica, sans-serif;
$font-mono: "maax-mono", monospace;

//----------------------------------------------
// Fonts: Lineheight
//----------------------------------------------
$base-lineheight: 1.6;

//----------------------------------------------
// Fonts: Size variables
//----------------------------------------------
$font-size-xxxl: 3em;
$font-size-xxl: 2.5em;
$font-size-xl: 2em;
$font-size-lg: 1.5em;
$font-size-med: 1.1em;
$font-size-base: 1em;
$font-size-sm: 0.85em;
$font-size-xs: 0.7em;
$font-size-xxs: 0.7rem;


//----------------------------------------------
// Media Queries
//----------------------------------------------
// Smallest phone
$mq-xsmall: 22em;
// Phone
$mq-sm: 32em;
// Tablet
$mq-med: 54em;
// Laptop
$mq-lg: 67em;
// Past laptop
$mq-xl: 94em;
// Mid-size monitor
$mq-xxl: 115em;
// Thunderbold goes to 157em
$mq-xxxl: 130em;


//----------------------------------------------
// Grid
//----------------------------------------------
$grid-width:          92%;
$grid-width-lg:       88%;
$grid-max-width-sm:   41em;
$grid-max-width:      46em;
$grid-max-width-med:  52em;
$grid-max-width-lg:   62em;
$grid-max-width-xl:   90%;
$grid-max-width-xxl:  95%;

//----------------------------------------------
// Spacings (pad/margin)
//----------------------------------------------
$pad-scale: 1em;
$pad-xxs:   $pad-scale / 2;
$pad-xs:    $pad-scale;
$pad-sm:    $pad-xs + $pad-xs;
$pad-med:   $pad-sm + $pad-xs;
$pad:       $pad-sm + $pad-sm;
$pad-lg:    $pad + $pad-sm;
$pad-xl:    $pad + $pad;

//----------------------------------------------
// Colors
//----------------------------------------------
$color-blue:       #6c77f7;
$color-green:      #58ff9c;
$color-alpha:      $color-blue;
$color-white:      #fff;
$color-grey-dark:     #111;


//----------------------------------------------
// easings
//----------------------------------------------
$ease-cb: cubic-bezier(.4,0,.2,1);
$ease-cb-2: cubic-bezier(.19,1,.22,1);
$ease-cb-3: cubic-bezier(.77,0,.175,1);
