
:root {
  --eq-height: 12px;
}
@media (min-width: $mq-md) {
  :root {
    --eq-height: 20px;
  }
}

@mixin equalize($number) {
	animation: equalize #{$number}s linear infinite;
}

@keyframes equalize  {
	0% {
		height: 0;
  }

	50% {
		height: var(--eq-height);
  }

	100% {
		height: 5px;
  }
}

.equalizer {
  position: absolute;
  bottom: 2.5%; // aligns with 0.95 scale of thumb 5% /2 = 2.5
  display: flex;
  align-items: flex-end;
  height: var(--eq-height);
  // width: $eq-height-xs;
  margin-top: 0.5em;
  opacity: 0;

  .is-playing & {
    opacity: 1;
  }

  &__item {
    position: relative;
  	display: inline-block;
  	width: 1px;
  	height: 100%;
    margin: 0 2px;
    background: #fff;
    transition: height 0.3s ease;

    .plist-item .is-paused & {
      animation-duration: 0s;
      height: 1px;
      transition: height 1s ease;
    }
  }

  &__item:nth-of-type(1) {
    @include equalize(.5);
  }

  &__item:nth-of-type(2) {
    @include equalize(.9);
  }

  &__item:nth-of-type(3) {
    @include equalize(.7);
  }
}
