//----------------------------------------------
//  Flex Column
//  A helper to output cross browser requirements for
//  columns inside a flexbox parent. flex-basis isn't
//  enough in all cases.
//
//  @param $width (size), $mobile (boolean)
//----------------------------------------------
@mixin flex-col(
$xs:null,
$sm:null,
$md:null,
$lg:null){
  flex-basis: $xs;
  width: $xs;
  max-width: $xs;

  @if $sm  {
    @media (min-width: $mq-sm){
      flex-basis: $sm;
      width: $sm;
      max-width: $sm;
    }
  }

  @if $md {
    @media (min-width: $mq-md){
      flex-basis: $md;
      width: $md;
      max-width: $md;
    }
  }

  @if $lg {
    @media (min-width: $mq-lg) {
        flex-basis: $lg;
        width: $lg;
        max-width: $lg;
    }
  }
}
