//----------------------------------------------
//  font-rwd
//  Change font-size across breaks
//  @param: $font_sm  - at small
//  @param: $font_med - at med break
//  @param: $font_lg  - at Large break
//  @param: $font_xl  - at Xlarge break
//----------------------------------------------
@mixin font-rwd($sm:null, $md:null, $lg:null, $xl:null, $xl2:null) {
  font-size: $sm;

  @if $md {
    @media(min-width: $mq-md){
      font-size: $md;
    }
  }

  @if $lg {
    @media(min-width: $mq-lg){
      font-size: $lg;
    }
  }

  @if $xl {
    @media(min-width: $mq-xl){
      font-size: $xl;
    }
  }

  @if $xl2 {
    @media(min-width: $mq-xl2){
      font-size: $xl2;
    }
  }
}


//----------------------------------------------
//  Text Formating
//----------------------------------------------

@mixin text-overflow($max-width:90%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $max-width;
}
