//----------------------------------------------
//  font-rwd
//  Change font-size across breaks
//  @param: $font_sm  - at small
//  @param: $font_med - at med break
//  @param: $font_lg  - at Large break
//  @param: $font_xl  - at Xlarge break
//----------------------------------------------
@mixin font-rwd($sm:null, $med:null, $lg:null, $xl:null, $xxl:null) {
  font-size: $sm;

  @if $med {
    @media(min-width: $mq-med){
      font-size: $med;
    }
  }

  @if $lg {
    @media(min-width: $mq-lg){
      font-size: $lg;
    }
  }

  @if $xl {
    @media(min-width: $mq-xl){
      font-size: $xl;
    }
  }

  @if $xxl {
    @media(min-width: $mq-xxl){
      font-size: $xxl;
    }
  }
}


//----------------------------------------------
//  Text Formating
//----------------------------------------------

@mixin text-overflow($max-width:90%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $max-width;
}
